/* colores */
body {
    background-color: black;
    color: white;
}

#blanco, .iconoBlanco {
    color: white;
}

h5 {
    color: aquamarine;
}

/* fuentes */
* {
    font-family: 'Lobster', cursive;
}

p {
    font-family: 'Rubik Glitch', cursive;
}